// src/components/Header/Header.scss
.header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    .search-bar {
        width: 300px;
        input {
            border: none;
            outline: none;
            font-size: 14px;
        }
    }
    .icons svg {
        cursor: pointer;
        &:hover {
            color: #007bff;
        }
    }
}